代码/MingmeiMES/设备及外部系统对接/DevAccess/Web References/MesWS/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://ws.eventmanager.rockwell.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://ws.eventmanager.rockwell.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.eventmanager.rockwell.com">
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="signalEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="tns:ArrayOfString" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signalEventResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="signalEvent2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="tns:ArrayOfString" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signalEvent2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfString" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="signalEventResponse">
    <wsdl:part name="parameters" element="tns:signalEventResponse" />
  </wsdl:message>
  <wsdl:message name="signalEventRequest">
    <wsdl:part name="parameters" element="tns:signalEvent" />
  </wsdl:message>
  <wsdl:message name="signalEvent2Response">
    <wsdl:part name="parameters" element="tns:signalEvent2Response" />
  </wsdl:message>
  <wsdl:message name="signalEvent2Request">
    <wsdl:part name="parameters" element="tns:signalEvent2" />
  </wsdl:message>
  <wsdl:portType name="EventServicePortType">
    <wsdl:operation name="signalEvent">
      <wsdl:input name="signalEventRequest" message="tns:signalEventRequest" />
      <wsdl:output name="signalEventResponse" message="tns:signalEventResponse" />
    </wsdl:operation>
    <wsdl:operation name="signalEvent2">
      <wsdl:input name="signalEvent2Request" message="tns:signalEvent2Request" />
      <wsdl:output name="signalEvent2Response" message="tns:signalEvent2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventServiceHttpBinding" type="tns:EventServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signalEvent">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="signalEventRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="signalEventResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signalEvent2">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="signalEvent2Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="signalEvent2Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="EventServiceHttpPort" binding="tns:EventServiceHttpBinding">
      <wsdlsoap:address location="http://192.168.100.92:8123/soap/EventService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>