代码/MingmeiMES/FTPLRecordView/Service References/MonitorSVC/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ZZ/LineNodes/NodeMonitorSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLProcessModel" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLProcessModel" minOccurs="0" name="GetNodeStatusResult" nillable="true" type="q1:ArrayOfCtlNodeStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>